
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overscroll-behavior: none;
}
body{
    overscroll-behavior-y: contain;
}
#canvasMS{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-height: 100vw;
   
    
}

#background, #overlay, #obstacle, #bull, #egg{
    display: none;
}